.container {

    width: 100%;
    height: 98vh;
    padding-top: 10px;
    background-image: url("/src/Images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d9ebf3;
    display: flex;
    justify-content: center;
    align-items: center;

}

.weather {
  
    width: 769px;
    padding: 30px;

    background: linear-gradient(180deg, #BCFFEF 0%, #53A6D8 100%);
    border: 4px solid #1A7BED;
    border-radius: 40px; 
}
.header {

   display: flex;
   align-items: center;
    justify-content: center;
}

.header__logo {
    width: 60%;
    
}
.app-name {
    color: #0093EC;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0px;
    line-height: 51px;
    text-align: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__input {
    font-family: 'Inter';
    background: #FFFFFF;
    color: #525252;
    font-size: 30px;
    font-weight: bolder;
    border: 2px solid #A4E8FE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    width: 465px;
    height: 51px;
    text-align: center;
}

.search__input:focus {
  outline: none;
}

::placeholder {
   
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 22px; 
    line-height: 51px;

    /* identical to box height */

    text-align: center;


color: #D7D7D7;
  }

 

.search__button {
    width: 51px;
    height: 51px;

    background: #FFFFFF;
    border: 2px solid #A4E8FE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    margin: 0 0 0 10px;
}
.search__button:hover   .weather-search-icon {
  color: #045c92;

}

.search__button:hover   h3 {
  color: #045c9277;

}
.search__button:hover {
    -webkit-animation: button-hover 0.3s ease-in-out;
    animation: button-hover 0.3s ease-in-out;
    background-color: #dae8ecd3;
    cursor: pointer;

  }

 

  @-webkit-keyframes button-hover {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes button-hover {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }



.search__button--icon {
    width: 70%;
}

.search__button--text {
  display: none;
}
.search__error p{
  /* position: absolute; */
  left: 37%;
  top: 40%;
  text-align: center;
  font-size: 11px;
  margin: 5px 0 0 0;
  color: #ff0000;
}


.time {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.time__select {
    width: 95px;
    height: 29px;
    color: #ffffff;
    text-align: center;
    margin: 0 20px;
    background: linear-gradient(180deg, #DF825F 0%, #DFB15B 100%);
    border: 2px solid #FDE798;
    border-radius: 14px;
    background-color: #b3b3b3;

}

.time__select:focus {
  outline: none;

}

.time__select:hover {
  -webkit-animation: button-hover 0.3s ease-in-out;
    animation: button-hover 0.3s ease-in-out;
    cursor: pointer;
}

.time h2 {

    height: 29px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.forecast{
    display: flex;
    padding: 10px;
    background-color: #a4e8fe70;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    justify-content: space-around ;
    
}

.forecast__day {
    flex-basis: 30%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.forecast__day:hover {
  background-color: #53a5d83a;
  -webkit-animation: button-hover 0.3s ease-in-out;
    animation: button-hover 0.3s ease-in-out;
    cursor: pointer;
}

.forecast__day:hover .weather-api-day-img {
  -webkit-animation: button-hover 0.3s ease-in-out;
    animation: button-hover 0.3s ease-in-out;
}

.forecast__day--text {
    color: #fff;
    text-align: center;
    margin: 0;
}

.forecast__day--img {
    width: 84px;
    background-repeat: no-repeat;

}

.forecast__day--temperature {
  color: #b41d93;
}


.suggest {
    padding: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.suggest p {
    height: 19px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
color: #FFFFFF;
}

.suggest__icon {
    width: 20px;
    padding: 0 10px;
    color: #d9ebf3;
    
}


@media screen and (max-width: 768px){
  .container {
    height: auto;
    padding: 0;
  }
  .weather {
    border: none;
    border-radius: 0px;
    height: 100%;
  }

  .header {
    margin: 1rem 0 0 0;
  }

  .search {
    flex-wrap: wrap;
    margin: 1rem;
  }

  .search__input {
    width: auto;
  }
  .search__button {
    width: 265px;
    text-align: center;
    margin: 10px;
    background-color: rgb(92 173 218);
  }
  .search__button--icon {
    display: none;
  }
  .search__button--text {
    display: block;
    color:#ffffff
  }

  .time {
    flex-direction: column;
  }

 
   .forecast {
    flex-direction: column;
    margin: 20px 0 0 0;
    
   }
   .forecast__day {
    margin: 0 0 40px 0;
    flex-direction: row;
    justify-content: space-evenly;
   }

   /* .time {
    margin: 0 0 600px 0;
   } */
}


@media screen and (max-width: 380px){
  .search__input {
    width: 259px;
  }

  ::placeholder {
   
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 17px; 
    line-height: 21px;
  }

  
}